.card-container {
  overflow: hidden;
  @include border-radius;
  display: flex;
  flex-direction: column;
  .card-header {
    display: block;
    padding: $padding-lg+$padding-sm $padding-xl;
    background-color: $red;
    color: $white;
  }
  .card-body {
    display: block;
    padding: $padding-xl;
    background-color: $lighter-gray;
  }
}
